body {
	font-family: Myriad Pro, Arial, Sans Serif;
	font-size: 1em;
	color: #555;
}

.favorites-box {
	width: 24%;
	height: 100%;
	border-right: 2px #fff solid;
	float: left;
}

.results-box {
	width: 75%;
	height: 100%;
	float: left;
}

.favorites {
	border-right: 2px #CBC7C2 dotted;
	padding: 1px;
}

.container {
	background-color: #F2F1EF;
}

.header {
	background-color: #ee8800;
	box-shadow:0 2px 1px #CBC7C2;
}

h1 {
	font-family: Myriad Pro, Arial, Sans Serif;
	font-size: 1.75em;
	color: #F2F1EF;
	padding: 10px;
}

li {
	padding: 5px;
}
 ul {
 		list-style: none;
 } 
.results li {
	display: inline;
}

h2 {
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
}

h3 {
	font-size: 1em;
	padding: 2px;
	text-align: center;
	margin: 2px;
}

.load {
	border-top: 1px #CBC7C2 solid;
	clear: both;
}

.info {
	position: relative;
	padding: 2px;
	border: 1px #F8F8F7 solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	float: left;
	margin: 5px;
}

span {
	position: absolute;
	top: 5px;
	right: 5px;
}

.remove {
	position: absolute;
	top: 5px;
	right: 5px;
}
.text {
	right: 35px;
}

img {
	max-width: 100%;
}

.overlay {
	display: none;
	background: url(../images/overlay.png);
	z-index: 100;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.modal {
	background: #f1efea;
	margin-left: 50%;
	left: -210px;
	position: fixed;
	top: 136px;
	z-index: 200;
	width: 420px;
	border-top: 4px #282828 solid;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.modalImg {
	padding: 5px;
	margin: 2px;
	border: 2px red dashed;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	max-width: 402px;
}

.active {
	display:block !important;
}

.import, .fave {
	width: 180px;
	height: 121px;
	float: left;
	padding: 15px;
	border: 1px #999 solid;
	margin: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ddd;
}

.close {
	text-align: center;
	color: red;
}

.rating {
	background: #f2f1ea;
	z-index: 200;
	width: 260px;
	border-top: 3px #282828 solid;
	border-bottom: 1px #282828 solid;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	left: 60%;
	height: 151px;
	top: 5px;
	position: absolute;
	display: none;
}

.starRating {
	background: url(../images/starRating.png);
	content: "";
}
 
.unstarRating {
	background: url(../images/unstar.gif);
	content: "";
}
 
.ratingStars {
	position: relative;
	top: 0;
	right: 0;
    width: 22px;
    height: 20px;
    margin-left: 15px;
}

.tags {
	font-style: italic;
	margin-left: 10px;
}

.form-input {
	margin-top: 10px;
}